<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--コード整形禁止-->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <!--コード整形禁止-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Limsv3"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
    <!--コード整形禁止-->
        <!-- 起動アクティビティ -->
        <activity android:name=".LoginActivity" android:screenOrientation="portrait" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <!--コード整形禁止-->
        <!-- 各画面のアクティビティ定義-->
        <activity android:name=".ui.MenuActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.SearchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.LendingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.LendingHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ReturnActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ReturnHistoryActivity" android:screenOrientation="portrait"/>
    </application>
    <!--コード整形禁止-->
</manifest>